@charset "UTF-8";
footer{
	background-color: #495057;
	color:#ADB5BD;
	padding: 50px 100px;
}
footer div:first-child {
	color: white;
	font-size: 30px;
}
footer hr{
	border: 1px solid  rgba(255, 255, 255, 0.1);
}
footer ul{
	list-style: none;
}
footer li{
	display: inline-block;
	margin: 30px 30px;
}