@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}

/* 아이콘 CSS */
.icon{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.search_icon{
	background-image: url("/images/icon_search.png");
	padding:10px;
	position: absolute;
    left: 570px;
    top: 60px;
 	cursor: pointer;
}

.like_icon{
	background-image: url("/images/like.png");
	padding:10px;
	cursor: pointer;
}

#login-right{
	margin-left:500px;
}

	/* 로그인 창 */
	#loginLabel { font-size: 35px; font-weight: 600; text-align: center; color : rgb(76,76,76); }
	#loginDiv { text-align: center; }
     #login_space0{ height : 25px; }
     #login_space1{ height : 10px; }
     #loginInfo_1{ display : inline-block; width: 230px; height: 35px; font-size: 12px; padding-left: 10px; border: none; font-weight: 500;  }
     #loginInfo_2{ display : inline-block; width: 230px; height: 35px; font-size: 12px; padding-left: 10px; border: none; font-weight: 500;  }
     #idIcon { display : inline-block; font-size: 21px; vertical-align: middle; color : rgb(180,180,180); }
     #pwdIcon { display : inline-block; font-size: 20px; vertical-align: middle; color : rgb(180,180,180); }
     #idIconDiv { display: inline-block; width : 22px; }
     #pwdIconDiv { display: inline-block; width : 22px; }
     #idPwdDiv{ display : inline-block; border: 1px solid rgb(166,166,166); width: 295px; text-align: center; }
     .loginInfo, #loginButton, #loginButton2, #loginButton3:focus{ outline: none; }
	 #login_space2{ height : 15px; }
	 #login_spaceStart { height : 50px; }
	 #login_spaceFoot { height : 60px; }	
	 
	 
	 /* 비밀번호  */
	 input[type="password"] {
       font-family: caption;
     }
      
	 
	 /* 아이디 저장  */
     #idSave_1{ width:300px; display: inline-block; text-align:left; margin-left: 75px; }   
     label#idSave_3:before { content: "\f058"; font-family: "Font Awesome 5 Free"; color:rgb(185,185,185); cursor : pointer; 
                             font-size: 18px; margin-right: 7px; vertical-align : middle; font-weight: 900; }
     input#idSave_2:checked + label#idSave_3:before 
     { content:"\f058"; font-family: "Font Awesome 5 Free"; color:pink; font-size: 18px; 
       margin-right: 7px; vertical-align : middle; cursor : pointer; }
     input#idSave_2 { display: none; }
     #idSave_3{ font-size: 12px; vertical-align: middle; margin-left: 4px; line-height: 5px; }
     
     #idSave_4{ height: 16px; }
     
     /* 버튼 */      
     #login_space3{ height: 10px; font-size: 12px; }
     #login_space4{ height : 30px; }
     #otherSpace { height: 20px; }
     .search{ cursor: pointer; }
     #otherBtn{ text-align: center; }
     #otherLogin_space{ display: inline-block; width: 300px; }
     #loginButton{ background-color: rgb(119,175,130); color: white; border: none;
                   width: 300px; height: 40px; font-weight: bold; cursor: pointer; }
     #loginButton:hover { background-color: rgb(130,185,140); }
     #loginButton2{ display:inline-block; width: 301px; height : 42px; cursor: pointer; background: rgb(250,225,0); border: none; }
     #loginButton2:hover { background-color: rgb(260,235,10); }
     #login_space5{ height : 13px; }
     #loginButton3{ display:inline-block; width: 301px; height : 42px; cursor: pointer; background: rgb(29,193,0); border: none; }
     #loginButton3:hover { background-color: rgb(39,203,10); }